<!doctype html>
<html>
<head>
    <!-- Meta Data-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="nosnippet">
    <title>SG | @ViewData["Title"]</title>

    <!-- Links -->
    <!-- Libre Franklin Font -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <!-- Roboto Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- FullPageJS -->
    <link rel="stylesheet" type="text/css" href="~/css/fullpage.min.css">
    <!-- Custom -->
    <link href="~/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- Header -->
    <div id="header">
        <div class="header-child-image">
            <img src="~/img/logo.jpg" style="height: 70px;">
        </div>
        <div class="header-child-main">
            <div class="header-child-main-left">
                <h1> SMART GARDEN</h1>
            </div>
            <div class="header-child-main-right">
                <br>
                <p>
                    @Html.ActionLink("O nas", "Index", "Home")
                    @Html.ActionLink("Oferta", "Offer", "Offer")
                    @Html.ActionLink("Odśnieżanie", "Snow", "Snow")
                    @Html.ActionLink("Blog", "Main", "Blog")
                    @Html.ActionLink("Kontakt", "Contact", "Contact")
                    @Html.ActionLink("Kariera", "Career", "Career")
                    <a href="tel:+48576985015">+48 576 985 015</a> &ensp;
                    <a href="https://www.instagram.com/smartgarden.waw/"> <i class="fab fa-instagram"></i></a> &ensp;
                    <a href="https://www.facebook.com/smartgarden.waw/"> <i class="fab fa-facebook-square"> </i></a>
                </p>
            </div>
            <div class="header-child-main-left">
                <p>Kompleksowe usługi ogrodnicze w Warszawie</p>
            </div>
            <div class="header-child-main-right">
                <p><a href="mailto:kontakt@smartgarden-waw.pl">kontakt@smartgarden-waw.pl</a></p>
            </div>
        </div>
    </div>

    <!-- Page -->
    <!-- Page -->
    <div id="fullpage">
        @RenderBody()

        <!-- Footer -->
        <div class="section fp-auto-height" id="footer">
            <div style="background-image:url('img/line.jpg'); height: 5px; background-repeat: repeat-x; background-size: 20%;"></div>
            <br />
            <p>SMART GARDEN 2019 &copy;</p>
        </div>
    </div>

    <!-- Scripts -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- FullPageJS -->
    <script type="text/javascript" src="~/js/fullpage.min.js"></script>
    <script type="text/javascript" src="~/js/scrolloverflow.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
